.place {
  color: white;
  margin-left: 90px;
}
.description {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  color: #f3c5c5;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  margin-left: 90px;
  margin-top: 12px;
}
.temp-now {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 6px;
  font-weight: normal;
  color: #ffffff;
  margin-left: 90px;
}
#max-temp {
  font-weight: bolder;
}
#pressure-number,
#wind-number,
#humidity-number {
  color: #f3c5c5;
}

.situation {
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.first {
  padding-top: 40px;
}
.search-box {
  border: 3px solid gray;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  margin: 60px 10px 10px 90px;
  padding: 5px 5px;
  width: 213px;
  color: gray;
}
.look {
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  border: 2px solid #d9d7f1;
  color: gray;
  margin-left: 90px;
}
.look:hover {
  background-color: #d9d7f1;
}
.react-description {
  list-style: none;
}
.location-button {
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  border: 2px solid #d9d7f1;
  color: #808080;
  margin: 0 3px;
  padding: 1px 6px;
}

.location-button:hover {
  background-color: #d9d7f1;
}
.temp-number {
  font-weight: 900;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-right: 20px;
}
.unit {
  text-decoration: none;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: default;
}
.current {
  text-transform: uppercase;

  width: 100%;
  margin: 0;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  color: #f3c5c5;
}
.place {
  color: white;
  margin-left: 80px;
  margin-right: 10px;
}
.date {
  display: block;
  padding: 20px 0;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 0;
  align-items: end;
  margin-left: 90px;
}
