.search-box {
  border: 3px solid gray;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  margin: 60px 10px 10px 90px;
  padding: 5px 5px;
  width: 213px;
  color: gray;
}
.look {
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  border: 2px solid #d9d7f1;
  color: gray;
  margin-left: 90px;
}
.look:hover {
  background-color: #d9d7f1;
}
.react-description {
  list-style: none;
}
