.weather-forecast {
  text-align: center;
  font-weight: lighter;
}
.card {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 30%;
  box-shadow: 8px 8px 8px rgba(162, 210, 255, 0.4);
  margin: 2em;
}

.card-sign {
  font-size: 40px;
  color: #f3c5c5;
}

.card-title {
  color: #a2d2ff;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 5px;
}

.high {
  font-weight: bolder;
}
.temp {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 6px;
}
